IwojIExpY2Vuc2VkIHRvIHRoZSBBcGFjaGUgU29mdHdhcmUgRm91bmRhdGlv
biAoQVNGKSB1bmRlciBvbmUKIyBvciBtb3JlIGNvbnRyaWJ1dG9yIGxpY2Vu
c2UgYWdyZWVtZW50cy4gIFNlZSB0aGUgTk9USUNFIGZpbGUKIyBkaXN0cmli
dXRlZCB3aXRoIHRoaXMgd29yayBmb3IgYWRkaXRpb25hbCBpbmZvcm1hdGlv
bgojIHJlZ2FyZGluZyBjb3B5cmlnaHQgb3duZXJzaGlwLiAgVGhlIEFTRiBs
aWNlbnNlcyB0aGlzIGZpbGUKIyB0byB5b3UgdW5kZXIgdGhlIEFwYWNoZSBM
aWNlbnNlLCBWZXJzaW9uIDIuMCAodGhlCiMgIkxpY2Vuc2UiKTsgeW91IG1h
eSBub3QgdXNlIHRoaXMgZmlsZSBleGNlcHQgaW4gY29tcGxpYW5jZQojIHdp
dGggdGhlIExpY2Vuc2UuICBZb3UgbWF5IG9idGFpbiBhIGNvcHkgb2YgdGhl
IExpY2Vuc2UgYXQKIwojICAgaHR0cDovL3d3dy5hcGFjaGUub3JnL2xpY2Vu
c2VzL0xJQ0VOU0UtMi4wCiMKIyBVbmxlc3MgcmVxdWlyZWQgYnkgYXBwbGlj
YWJsZSBsYXcgb3IgYWdyZWVkIHRvIGluIHdyaXRpbmcsCiMgc29mdHdhcmUg
ZGlzdHJpYnV0ZWQgdW5kZXIgdGhlIExpY2Vuc2UgaXMgZGlzdHJpYnV0ZWQg
b24gYW4KIyAiQVMgSVMiIEJBU0lTLCBXSVRIT1VUIFdBUlJBTlRJRVMgT1Ig
Q09ORElUSU9OUyBPRiBBTlkKIyBLSU5ELCBlaXRoZXIgZXhwcmVzcyBvciBp
bXBsaWVkLiAgU2VlIHRoZSBMaWNlbnNlIGZvciB0aGUKIyBzcGVjaWZpYyBs
YW5ndWFnZSBnb3Zlcm5pbmcgcGVybWlzc2lvbnMgYW5kIGxpbWl0YXRpb25z
CiMgdW5kZXIgdGhlIExpY2Vuc2UuCgojIE5PVEUhIFRoaXMgZG9ja2VyIGln
bm9yZSB1c2VzIHJlY29tbWVuZGVkIHRlY2huaXF1ZQojIFdoZXJlIGV2ZXJ5
dGhpbmcgaXMgZXhjbHVkZWQgYnkgZGVmYXVsdCBhbmQgeW91IGRlbGliZXJh
dGVseQojIEFkZCBvbmx5IHRob3NlIGRpcmVjdG9yaWVzL2ZpbGVzIHlvdSBu
ZWVkLiBUaGlzIGlzIHZlcnkgdXNlZnVsCiMgVG8gbWFrZSBzdXJlIHRoYXQg
RG9ja2VyIGNvbnRleHQgaXMgYWx3YXlzIHRoZSBzYW1lIG9uIGFueSBtYWNo
aW5lCiMgU28gdGhhdCBnZW5lcmF0ZWQgZmlsZXMgYXJlIG5vdCBhY2NpZGVu
dGFsbHkgYWRkZWQgdG8gdGhlIGNvbnRleHQKIyBUaGlzIGFsbG93cyBEb2Nr
ZXIncyBgQ09QWSAuYCB0byBiZWhhdmUgaW4gcHJlZGljdGFibGUgd2F5Cgoj
IElnbm9yZSBldmVyeXRoaW5nCioqCgojIEFsbG93IG9ubHkgdGhlc2UgZGly
ZWN0b3JpZXMKIWFpcmZsb3cKIWNvbW1vbgohZGFncwohZGV2CiFjaGFydAoh
ZG9jcwohbGljZW5zZXMKIW1ldGFzdG9yZV9icm93c2VyCgojIEFkZCB0aG9z
ZSBmb2xkZXJzIHRvIHRoZSBjb250ZXh0IHNvIHRoYXQgdGhleSBhcmUgYXZh
aWxhYmxlIGluIHRoZSBDSSBjb250YWluZXIKIXNjcmlwdHMvaW5fY29udGFp
bmVyCiFzY3JpcHRzL2RvY2tlcgoKIyBBZGQgcHJvdmlkZXIgcGFja2FnZXMg
dG8gdGhlIGNvbnRleHQKIXByb3ZpZGVyX3BhY2thZ2VzCgojIEFkZCB0ZXN0
cyBhbmQga3ViZXJuZXRlc190ZXN0cyB0byBjb250ZXh0LgohdGVzdHMKIWt1
YmVybmV0ZXNfdGVzdHMKCiEuY292ZXJhZ2VyYwohLnJhdC1leGNsdWRlcwoh
LmZsYWtlOAohLmRvY2tlcmlnbm9yZQohcHlsaW50cmMKIXB5bGludHJjLXRl
c3RzCiFweXRlc3QuaW5pCiFDSEFOR0VMT0cudHh0CiFMSUNFTlNFCiFNQU5J
RkVTVC5pbgohTk9USUNFCiEuZ2l0aHViCiFlbXB0eQoKIyBUaGlzIGZvbGRl
ciBpcyBmb3IgeW91IGlmIHlvdSB3YW50IHRvIGFkZCBhbnkgcGFja2FnZXMg
dG8gdGhlIGRvY2tlciBjb250ZXh0IHdoZW4geW91IGJ1aWxkIHlvdXIgb3du
CiMgZG9ja2VyIGltYWdlLiBtb3N0IG9mIG90aGVyIGZpbGVzIGFuZCBhbnkg
bmV3IGZvbGRlciB5b3UgYWRkIHdpbGwgYmUgZXhjbHVkZWQgYnkgZGVmYXVs
dAojIGlmIHlvdSBuZWVkIG90aGVyIHR5cGVzIG9mIGZpbGVzIC0gcGxlYXNl
IGFkZCB0aGUgZXh0ZW5zaW9ucyBoZXJlLgohZG9ja2VyLWNvbnRleHQtZmls
ZXMKCiMgQXZvaWQgdHJpZ2dlcmluZyBjb250ZXh0IGNoYW5nZSBvbiBSRUFE
TUUgY2hhbmdlIChuZXcgY29tcGFuaWVzIHVzaW5nIEFpcmZsb3cpCiMgU28g
cGxlYXNlIGRvIG5vdCB1bmNvbW1lbnQgdGhpcyBsaW5lIDspCiMgIVJFQURN
RS5tZAoKIyBSdW4gdGVzdHMgY29tbWFuZCB3aXRoIGJhc2ggY29tcGxldGlv
bgohLmJhc2hfY29tcGxldGlvbgohLmJhc2hfY29tcGxldGlvbi5kCgojIFNl
dHVwL3ZlcnNpb24gY29uZmlndXJhdGlvbgohc2V0dXAuY2ZnCiFzZXR1cC5w
eQohbWFuaWZlc3RzCiMgTm93IC0gaWdub3JlIHVubmVjZXNzYXJ5IGZpbGVz
IGluc2lkZSBhbGxvd2VkIGRpcmVjdG9yaWVzCiMgVGhpcyBnb2VzIGFmdGVy
IHRoZSBhbGxvd2VkIGRpcmVjdG9yaWVzCgojIEdpdCB2ZXJzaW9uIGlzIGR5
bmFtaWNhbGx5IGdlbmVyYXRlZAphaXJmbG93L2dpdF92ZXJzaW9uCgojIEV4
Y2x1ZGUgc3RhdGljIHd3dyBmaWxlcyBnZW5lcmF0ZWQgYnkgTlBNCmFpcmZs
b3cvd3d3L3N0YXRpYy9jb3ZlcmFnZQphaXJmbG93L3d3dy9zdGF0aWMvZGlz
dAphaXJmbG93L3d3dy9ub2RlX21vZHVsZXMKIyBFeGNsdWRlIHN0YXRpYyB1
aSBmaWxlcyBnZW5lcmF0ZWQgYnkgTlBNCmFpcmZsb3cvdWkvYnVpbGQKYWly
Zmxvdy91aS9ub2RlX21vZHVsZXMKCiMgRXhjbHVkZSBsaW5rIHRvIGRvY3MK
YWlyZmxvdy93d3cvc3RhdGljL2RvY3MKCiMgRXhjbHVkZSBweXRob24gZ2Vu
ZXJhdGVkIGZpbGVzCioqL19fcHljYWNoZV9fLwoqKi8qLnB5W2NvZF0KKiov
KiRweS5jbGFzcwoqKi8ucHl0ZXN0X2NhY2hlLwoqKi9lbnYvCioqL2J1aWxk
LwoqKi9kZXZlbG9wLWVnZ3MvCioqL2Rpc3QvCioqL2Rvd25sb2Fkcy8KKiov
ZWdncy8KKiovLmVnZ3MvCioqL2xpYi8KKiovbGliNjQvCioqL3BhcnRzLwoq
Ki9zZGlzdC8KKiovdmFyLwoqKi93aGVlbHMvCioqLyouZWdnLWluZm8vCioq
Ly5pbnN0YWxsZWQuY2ZnCioqLyouZWdnCgojIEV4Y2x1ZGUgdGVtcG9yYXJ5
IHZpIGZpbGVzCioqLyp+CgojIEV4Y2x1ZGUgb3V0cHV0IGZpbGVzCioqLyou
b3V0CioqL2hpdmVfc2NyYXRjaF9kaXIvCgojIEV4Y2x1ZGUgYXV0by1nZW5l
cmF0ZWQgRmluZGVyIGZpbGVzIG9uIE1hYyBPUwoqKi8uRFNfU3RvcmUKKiov
VGh1bWJzLmRiCgojIEV4Y2x1ZGUgZG9jcyBnZW5lcmF0ZWQgZmlsZXMKZG9j
cy9fYnVpbGQvCmRvY3MvX2FwaS8K
